        .carousel-item > img {
            margin-left: auto;
            margin-right: auto;
            animation: bounce; /* referring directly to the animation's @keyframe declaration */
            animation-duration: 2s; /* don't forget to set a duration! */
        }
        
        #email {
            font-size: 200px;
        }

        #yt {
            font-size: 20000px;
        }

        .navbar-brand:hover {
            text-decoration:  overline underline;
            background: linear-gradient(to right, rgba(100, 200, 200, 1), rgba(100, 200, 200, 1)),
            linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
            background-size: 100% 0.1em, 0 0.1em;
            background-position: 100% 100%, 0 100%;
            background-repeat: no-repeat;
            transition: 400ms;
        }


        .no-dec {
            text-decoration: none;
            color: black;
        }

        .no-dec a:hover > small {
            color: black;
        }

        .slide-3 > h5, .slide-3 {
            text-decoration: underline;
        }

        .slide-3 > p {
            color: rgb(255, 255, 255);
        }
        

        /*  scooter em lines  */

        .popscooteritems {
            position: relative;
            max-width: 500px;
            margin: 100px auto;
            text-align: center;
        }


        .popscooteritems:before {
            content:" ";
            display: inline-block;
            height: 2px;
            width: 100px;
            position: absolute;
            top: 50%;
            left: 9%;
            background: rgb(0, 0, 0);
        }


        .popscooteritems:after {
            content:" ";
            height: 2px;
            width: 100px;
            background: rgb(0, 0, 0);
            display: inline-block;
            position: absolute;
            top: 50%;
            right: 9%;
        }


        /*  skateboard em lines  */

        .popskateboarditems {
            position: relative;
            max-width: 500px;
            margin: 100px auto;
            text-align: center;
        }


        .popskateboarditems:before {
            content:" ";
            display: inline-block;
            height: 2px;
            width: 100px;
            position: absolute;
            top: 50%;
            left: 5%;
            background: rgb(0, 0, 0);
        }


        .popskateboarditems:after {
            content:" ";
            height: 2px;
            width: 100px;
            background: rgb(0, 0, 0);
            display: inline-block;
            position: absolute;
            top: 50%;
            right: 5%;
        }


        /*  bmx em lines  */

        .popbmxitems {
            position: relative;
            max-width: 500px;
            margin: 100px auto;
            text-align: center;
        }


        .popbmxitems:before {
            content:" ";
            display: inline-block;
            height: 2px;
            width: 10px;
            position: absolute;
            top: 50%;
            left: 13%;
            background: rgb(0, 0, 0);
        }


        .popbmxitems:after {
            content:" ";
            height: 2px;
            width: 110px;
            background: rgb(0, 0, 0);
            display: inline-block;
            position: absolute;
            top: 50%;
            right: 13%;
        }

        @media only screen and (max-width: 401px) {
            
            /*  scooter em lines  */

            .popscooteritems {
                position: relative;
                max-width: 400px;
                margin: 100px auto;
                text-align: center;
                text-decoration: underline;
            }

            .popscooteritems:before {
                content:" ";
                display: inline-block;
                height: 2px;
                width: 75px;
                position: absolute;
                top: 50%;
                left: -9%;
                background: rgb(255, 255, 255);
            }

            .popscooteritems:after {
                content:" ";
                height: 2px;
                width: 75px;
                background: rgb(255, 255, 255);
                display: inline-block;
                position: absolute;
                top: 50%;
                right: -9%;
            }

            /*  skateboard em lines  */

            .popskateboarditems {
                position: relative;
                max-width: 500px;
                margin: 100px auto;
                text-align: center;
            }

            .popskateboarditems:before {
                content:" ";
                display: inline-block;
                height: 2px;
                width: 130px;
                position: absolute;
                top: 50%;
                left: -12%;
                background: rgb(255, 255, 255);
            }

            .popskateboarditems:after {
                content:" ";
                height: 2px;
                width: 130px;
                background: rgb(255, 255, 255);
                display: inline-block;
                position: absolute;
                top: 50%;
                right: -12%;
            }

            /*  bmx em lines  */

            .popbmxitems {
                position: relative;
                max-width: 500px;
                margin: 100px auto;
                text-align: center;
            }

            .popbmxitems:before {
                content:" ";
                display: inline-block;
                height: 2px;
                width: 130px;
                position: absolute;
                top: 50%;
                left: -1%;
                background: rgb(0, 0, 0);
            }

            .popbmxitems:after {
                content:" ";
                height: 2px;
                width: 130px;
                background: rgb(255, 255, 255);
                display: inline-block;
                position: absolute;
                top: 50%;
                right: -1%;
            }
        }

        @media only screen and (min-width: 401px) and (max-width: 600px) {
            
            /*  scooter em lines  */

            .popscooteritems {
                position: relative;
                max-width: 400px;
                margin: 100px auto;
                text-align: center;
            }

            .popscooteritems:before {
                content:" ";
                display: inline-block;
                height: 2px;
                width: 75px;
                position: absolute;
                top: 50%;
                left: -9%;
                background: rgb(255, 255, 255);
            }

            .popscooteritems:after {
                content:" ";
                height: 2px;
                width: 75px;
                background: rgb(255, 255, 255);
                display: inline-block;
                position: absolute;
                top: 50%;
                right: -9%;
            }

            /*  skateboard em lines  */

            .popskateboarditems {
                position: relative;
                max-width: 500px;
                margin: 100px auto;
                text-align: center;
            }

            .popskateboarditems:before {
                content:" ";
                display: inline-block;
                height: 2px;
                width: 130px;
                position: absolute;
                top: 50%;
                left: -12%;
                background: rgb(255, 255, 255);
            }

            .popskateboarditems:after {
                content:" ";
                height: 2px;
                width: 130px;
                background: rgb(255, 255, 255);
                display: inline-block;
                position: absolute;
                top: 50%;
                right: -12%;
            }

            /*  bmx em lines  */

            .popbmxitems {
                position: relative;
                max-width: 500px;
                margin: 100px auto;
                text-align: center;
            }

            .popbmxitems:before {
                content:" ";
                display: inline-block;
                height: 2px;
                width: 130px;
                position: absolute;
                top: 50%;
                left: -1%;
                background: rgb(0, 0, 0);
            }

            .popbmxitems:after {
                content:" ";
                height: 2px;
                width: 130px;
                background: rgb(255, 255, 255);
                display: inline-block;
                position: absolute;
                top: 50%;
                right: -1%;
            }

        }
